:root{
    --principal:#62E3CA;
    --secundario:#62A9E3;
    --acento:#6280E3;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Lora", serif; 
    background-color: var(--principal);
}

header, footer {
    background-color: var(--secundario);
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: var(--secundario);
    width: 90%; 
    margin: 0 auto; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: box-shadow 0.3s; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
}

nav a:hover {
    background-color: var(--secundario);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.8); 
}





main {
    padding: 20px;
}

.contenido-imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contenido-imagenes article {
    flex: 0 0 calc(40% - 20px); 
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.contenido-imagenes img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.video {
    margin-top: 20px;
    text-align: center;
}

.redes-sociales {
    margin-bottom: 10px;
}

.redes-sociales a {
    display: inline-block;
    margin-right: 10px;
}

.redes-sociales img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

header {
    width: 100%;
    background: var(--principal);
}

#btn-menu {
    display: none;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
}
header label img {
    width: 100%; 
    height: auto;
}

header label:hover {
    cursor: pointer;
    background: rgb(0, 0, 0, 0.3);
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    border-right: 1px solid #fff;
}

.menu li:hover {
    background: rgb(0, 0, 0, 0.3);
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

@media (max-width: 768px) {
    header label {
        display: block;
    }
    .menu {
        position: absolute;
        background: var(--secundario);
        width: 50%;
        margin-left: -100%;
        transition: all 0.6s;
    }

    .menu ul {
        flex-direction: column;
    }
    .menu li {
        border-top: 1px solid #fff;
    }
    #btn-menu:checked ~ .menu {
        margin: 0;
    }
    .contenido-imagenes article {
        width: 90%; 
        margin: 10px 0; 
    }

    .contenido-imagenes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px; 
    }

    .video-container {
        width: 90%; 
        padding-bottom: 56.25%; 
    }
}

.video-container {
    position: relative;
    width: 50%; 
    max-width: 800px; 
    margin: 0 auto; 
    padding-bottom: 28.125%; 
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}